@font-face {
  font-family: Norse;
  src: url("fonts/Norse-Bold.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

.left {
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left img {
  height: 100%;
}

.left .logo {
  font-family: Norse, sans-serif;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 150px;
}

.left p {
  color: white;
  margin-top: auto;
  padding: 8px;
  font-size: 0.8rem;
}

.left p a {
  color: white;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: rgb(236, 235, 235);
  width: 100%;
}

.right h2 {
  width: 80%;
}

.right form h2 {
  font-size: 1.6rem;
  margin-top: -15px;
  padding-bottom: 15px;
}

.right form {
  margin: 20px -40px;
  padding: 30px 40px;
  background-color: white;
  box-shadow: 0px 2px 8px -5px;
}

.right a {
  color: #596d48;
  text-decoration: none;
  font-weight: 600;
}

.right form .main-form {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.right form .forms {
  width: 300px;
  margin-right: 20px;
}

.right form .forms input {
  width: 100%;
  border: 1.3px solid #e5e7eb;
  border-radius: 4px;
  height: 2rem;
  margin-top: 5px;
  padding-left: 0.5rem;
}

.right button {
  background-color: #596d48;
  color: white;
  width: 180px;
  min-height: 40px;
  border-radius: 6px;
  border: 0px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 5px;
}
